@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-inter: "Inter", sans-serif;
  --primary: #327468;
  --text-color-200: #737679;
  --border-200: #BFBFBF
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-inter);
  --color-primary: var(--primary);
  --color-text-color-200: var(--text-color-200);
  --color-border-200: var(--border-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}


.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-x-scrollbar {
 
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
